body {
    background-color: white;
    color: #3D6A6F; /* Set default font color for page */ 
}
/* 
 Begin: General navigation bar related styling
*/
.navbar {
    background-color: #F1F5F3; /* Override default color for navbar background */ 
}

#navbar-container {
    /* Override Bootstrap's container margin-left 
    (that is set to auto) to make this navbar left aligned without margin */
    margin-left: 0px;
}

.navbar-brand h1 { /* Food, LLC. */
    font-weight: bold;
    /* Clear margins to bring center within navbar */
    margin: 0;
    line-height: .75;
    color: #3D6A6F; /* Override default set by Bootstrap */
}
/* 
 End: General navigation bar related styling
*/

/* 
 Begin: Styling for Hamburger Menu and Buttons
*/
#nav-list li {
    text-align: center;
    background: #3D6A6F;
}

#nav-list a:hover {
    background: #A2C9D9;
}

#nav-list a {
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
/* 
 End: Styling for Hamburger Menu and Buttons
*/

/* 
 Begin: Main content styling
*/

#main-content {
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
}
 
#main-content h2 {
    font-weight: bold;
    margin-top: 5px; /* Override default set by Bootstrap */
    margin-bottom: 5px; /* Override default set by Bootstrap */
}
 
.col-contents {
    background-color: #C5DFDC;
    margin-bottom: 15px; /* Gives a little more separation between content rows */
    /* Pushes in content a little more for space from border */
    padding-left: 15px;  
    padding-right: 15px;
}

/* Some spacing from top border */
.col-contents h3 {
    padding-top: 5px;
}
/* 
 End: Main content styling
*/