<div class="container">
    <h2 id="menu-categories-title" class="text-center">
        My Info and Favorite Item
    </h2>
    <br>
    <div ng-if="myInfoCtrl.favoriteMenuItem === null" class="text-center">
        Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
    </div>
    <div ng-if="myInfoCtrl.favoriteMenuItem !== null" class="text-center">
        <div class="row">
            <div class="col-md-6">
                <div>First: {{myInfoCtrl.userInfo.firstname}} </div>
                <div>Last: {{myInfoCtrl.userInfo.lastname}} </div>
                <div>Email: {{myInfoCtrl.userInfo.email}}</div>
                <div>Phone: {{myInfoCtrl.userInfo.phone}}</div>
            </div>

            <div class="col-md-6">
                <menu-item menu-item="myInfoCtrl.favoriteMenuItem">
                </menu-item>
            </div>
        </div>
        
    </div>
</div>